.react-calendar {
  width: 100%;
  border: none;
  font-family: 'Montserrat', sans-serif;
  padding: 1.2rem 0.8rem 2rem;
}

.react-calendar__navigation {
  margin-bottom: 1rem;
}

.react-calendar__navigation__arrow {
  font-size: 25px;
}

.react-calendar__navigation__next2-button,
.react-calendar__navigation__prev2-button {
    visibility: hidden;
  }

.react-calendar__month-view__weekdays__weekday {
  font-weight: 600;
  color: $main-color;
}

.react-calendar__month-view__days__day {
  font-size: 0.85rem;
  font-weight: 400;
  color: $main-color;
}


.react-calendar__month-view__days__day--weekend {
  color: $sub-color;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__tile--active {
  background-color: $main-color;
  color: #fff;
}

.react-calendar__tile--now {
  background: $sub-color;
  color: #fff;
}

.react-calendar__tile--now:enabled:hover, 
.react-calendar__tile--now:enabled:focus {
  background-color: #fdc6c6;
}

.react-calendar__tile--active:enabled:hover, 
.react-calendar__tile--active:enabled:focus {
  background-color: $main-color;
  color: #fff;
}

abbr[title] {
  text-decoration: none;
}

abbr{
  position: relative;
}

// .react-calendar__month-view__days__day > abbr::after {
//   content: "";
//   position: absolute;
//   bottom: -8px; left: 50%;
//   transform: translateX(-50%);
//   width: 3px;
//   height: 3px;
//   background-color: $main-color;
// }

// .react-calendar__month-view__days__day--weekend > abbr::after {
//   background-color: $sub-color;
// }

// .react-calendar__month-view__days__day--neighboringMonth > abbr::after {
//   display: none;
// }