.selected {
  position: relative;
  color: $main-color;
  text-align: center;
  letter-spacing: 1px;
}

.selected-day {
  font-size:1.1rem;
  font-weight: 600;
  margin-right: 0.3rem;
}

.icon-chevron-left {
  position: absolute;
  top: 50%; left: 15px;
  transform: translateY(-50%);
  font-size: 1.5rem;
  cursor: pointer;
}

.icon-delete {
  position: absolute;
  top: 58%; right: 20px;
  transform: translateY(-50%);
  font-size: 1.2rem;
  cursor: pointer;
}