.task-list {
  position: relative;
  color: $main-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.5rem 1rem 0.9rem;
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    background-color: #eee;
  }
  &:hover .icon-edit {
    visibility: visible;
  }
}

.icon-cancel {
  font-size: 24px;
  color: lightcoral;
}

.check-box {
  width: 16px;
  height: 16px;
  border: 1px solid $main-color;
  cursor: pointer;
  background-color: #fff;

  &:checked {
    background-color: $main-color;
  }
  &:focus {
    outline: none;
  }
}

.icon-check {
  font-size: 15px;
  position: relative;
  top: -5px; left: -19px;
  font-weight: 400;
  color: white;
}

.todo-text {
  position: relative;
  width: 60%;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.todo-text.done {
  text-decoration-line: line-through;
  text-decoration-color: rgba(240,128,128, 0.8);
  text-decoration-thickness: 2px;
}

.date {
  font-size: 0.8rem;
}

.icon-edit {
  position: absolute;
  top: 38%; right: 15px;
  font-size: 0.9rem;
  visibility: hidden;
  margin-left: 0.5rem;
  z-index: 10;
}